<!-- https://fractal.build/guide/components/preview-layouts.html#creating-a-preview-layout -->
<link media="all" rel="stylesheet" href="../raw/{{_target.baseHandle}}/{{_target.baseHandle}}.css">
{{ yield | safe }}
